/* .article-toggle-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 0.9em;
  transition: background-color 0.3s;
  margin-left: 15px;
}

.article-toggle-button:hover {
  background-color: #0056b3;
}

.assistant-collapsed {
  padding: 0;
  margin: 0;
} */
/* .message-collapsed {
  max-height: 200px;

  transition: height 0.3s ease-out, padding 0.3s ease-out, margin 0.3s ease-out;
}
.message-collapsed.large-message div div:nth-child(2) {
  max-height: 200px;
  -webkit-mask-image: linear-gradient(to bottom, black 0%, transparent);
  mask-image: linear-gradient(to bottom, black 0%, transparent);
  transition: all 0.3s ease;
}

.message-expanded {
  max-height: none;
  transition: max-height 0.3s ease-in, padding 0.3s ease-in, margin 0.3s ease-in;
  padding: 10px;
  margin-top: 10px;
} */

article {
  transition: all 0.3s ease;
}
